@media (max-width:850px) {
    nav{
        font-size: 10px;
    }

    .opening-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .opening-page img{
        width: 80%;
    }

    .home_page{
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
    .about-section,
    .projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    }
    .abs{
        margin: 20px 0px;
        text-align: center;
    }

    .project-pic-container{
        width: 380px;
    }

    div img {
        width: 80%;
        max-width: 340px;
    }

    .prevButton{
        position: absolute;
        top: 45%;
        left: 30px;
    }
    .nextButton{
        position: absolute;
        top: 45%;
        right: 30px;
    }

    .little-man-container{
        top:160px;
        right:40px;
    }
    .contact-me-section div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 30px 0; 
    }
    .contact-me-section div{
        width: 200px;
    }
    .none-display{
        display:none;
    }
    .contact-me{
        margin: 10px;
    }
}
